.tableContainer {
  margin: 0.1em;
}

.mainContainer {
  text-align: center;
}

.selectBtn {
  height: 36px;
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
}

.inputDate {
  width: 140px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
}
