html {
    font-size: 14px;
}

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tablecontainer {
    margin: 0.1em;
}

.maincontainer {
    text-align: center;
}

.selectbtn {
    height: 36px;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
}

.inputdate {
    width: 140px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
}